
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: #eee7e7da;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      background-color: white;
    }
    th, td {
      padding: 12px 15px;
      border: 1px solid #ccc;
      text-align: left;
    }
    th {
      background-color: #007BFF;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    .logout-btn {
      display: block;
      margin: 20px auto;
      text-align: center;
    }
    .logout-btn a {
      padding: 10px 20px;
      background-color: #dc3545;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
