<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registered Students</title>
  <link rel="stylesheet" href="../static/admin_view.css">
</head>
<body>

  <h2>📋 Registered Course Details</h2>

  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Course ID</th>
        <th>Cutoff</th>
      </tr>
    </thead>
    <tbody>
      {% for row in records %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="logout-btn">
   <a href="/admin">Logout</a>
  </div>

</body>
</html>
