<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registration Successful</title>
  <link rel="stylesheet" href="../static/message.css">
</head>
<body>
  <div class="success-container">
    <div class="checkmark">
      <img src="../static/image/tick-symbol.webp" alt="Success">
    </div>
    <h1>Registration Successful!</h1>
    <p>Thank you for registering. We’ll contact you shortly.</p>
    <a href="/" class="button">Go to Home</a>
  </div>
</body>
</html>
